* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.output {
    border: 1px solid black;
    height: 30px;
}

.calc-section {
    display: flex;
}

.numbers {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* outline: 1px solid red; */
    max-width: 400px;
}

.number {
    width: 100px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.number:hover {
    cursor: pointer;
}

.calculations {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.symbol {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.output, #placeToPutResult {
    text-align: center;
}